<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		/*#app2{
			display: none;
		}*/
		#cba{
			margin-top: 20px;
		}
		#abc{
			width: 800px;
			height: 500px;
			border: solid 1px;
			display: -moz-box;
		}
		.a{
			float: left;
			-moz-box-flex: 1;
			text-align: center;
		}
		#b{
			line-height: 500px;
		}
	</style>
</head>
<body>
	<div id="app">
		是否需要额外付费设施 <input type="checkbox" v-model="aa" @click="add">
		<div id="app2" v-show="show">
			床(1000)<input type="checkbox" v-model="bb">&nbsp;&nbsp;&nbsp;沙发(2000)<input type="checkbox" v-model="cc">&nbsp;&nbsp;&nbsp;wifi(3000)<input type="checkbox" v-model="dd">
		</div>
	</div>
	<div id="cba">
		订单费用信息<br>
		<div id="abc">
			<div class="a" id="b">群力花园豪华</div>
			<div class="a">
				日均价
				<ul>
					<li>￥400元</li>
					<li>￥100元</li>
				</ul>
			</div>
			<div class="a">
				天数
				<ul>
					<li>
						<form action="">
							<select name="days" id="">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">三个月</option>
								<option value="32">半年</option>
								<option value="33">一年</option>
							</select>
						</form>
					</li>
					<li>
						<form action="">
							<select name="days" id="">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">三个月</option>
								<option value="32">半年</option>
								<option value="33">一年</option>
							</select>
						</form>
					</li>
				</ul>
			</div>
			<div class="a">
				总价
				<ul>
					<li v-model="aaa">
						
					</li>
					<li>￥100元</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="vue.js"></script>

	<script>
		var vm = new Vue({
			el:"#app",
			data:{
				aa:false,
				bb:false,
				cc:false,
				dd:false,
				show:false,
				},
			methods:{
				add:function () {
					if (vm.aa == false) {
						vm.show = true;
					}else{
						vm.show = false;
						vm.bb = false;
						vm.cc = false;
						vm.dd = false;
					}
				}
			}
		})

		new Vue({
			el:"#cba",
			data:{
				
			},
		})
	</script>
</body>
</html>